.dm-card {
  background: #FFF;
  margin-bottom: 24px;
  padding: 12px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);

  &__title {
    font-size: 20px;
    margin-bottom: 10px;
    color: #666;
  }
}

.dm-header {
  padding: 24px;
  box-sizing: border-box;
  flex-shrink: 0;
  background: #FFF;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.dm-main {
  padding: 24px;
}
